<div class="bl-bottom-nav">
  <a href="{{ url_for('home') }}" class="bl-nav-item {% if request.endpoint == 'home' %}active{% endif %}">
    <span class="nav-icon">🏠</span>
    <span>Home</span>
  </a>
  <a href="{{ url_for('friends') }}" class="bl-nav-item {% if request.endpoint == 'friends' %}active{% endif %}">
    <span class="nav-icon">👥</span>
    <span>Friends</span>
  </a>
  <a href="{{ url_for('invite') }}" class="bl-nav-item {% if request.endpoint == 'invite' %}active{% endif %}">
    <span class="nav-icon">🎟️</span>
    <span>Invite</span>
  </a>
  <a href="{{ url_for('more') }}" class="bl-nav-item {% if request.endpoint == 'more' %}active{% endif %}">
    <span class="nav-icon">⚙️</span>
    <span>More</span>
  </a>
</div>
